<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LexiSphere: {% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="../static/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="../static/styles.css" rel="stylesheet"/>
    <script defer src="../static/fontawesome.js"></script>
  </head>
  <body>
    <div class="container-fluid">
        <div class="row mx-1">
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
              <a class="navbar-brand col-5" href="/"><img src="../static/logo.png" alt="logo" class="w-100 img-fluid"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav text-center mt-1">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#get_started">Get Started</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        {% block main %}{% endblock %}
    <footer class="bg-light text-center text-white mt-5 border-top-black">
      <!-- Container -->
      <div class="container-fluid">
        <div class="row">
          <!-- Section: Social media -->
          <section class="social-media my-4 mb-3">
            <!-- Facebook -->
            <a
              class="text-white m-1 p-1 px-2 rounded-1 facebook"
              style="background-color: #3b5998;"
              href="https://www.facebook.com/faisal.codes.8/"
              role="button"
              target="_blank"
              ><i class="fab fa-facebook-f w-16 h-16"></i
            ></a>
      
            <!-- Twitter -->
            <a
              class="text-white m-1 p-1 px-2 rounded-1 twitter"
              style="background-color: #55acee;"
              href="https://twitter.com/faisalcodes123"
              role="button"
              target="_blank"
              ><i class="fab fa-twitter w-16 h-16"></i
            ></a>
      
            <!-- Google -->
            <a
              class="text-white m-1 p-1 px-2 rounded-1 google"
              style="background-color: #dd4b39;"
              href="mailto:arifaisal123@gmail.com"
              role="button"
              target="_blank"
              ><i class="fab fa-google w-16 h-16"></i
            ></a>

            <!-- Youtube -->
            <a
              class="text-white m-1 p-1 px-2 rounded-1 youtube"
              style="background-color: #FF0000;"
              href="https://youtube.com/@faisalcodes123"
              role="button"
              target="_blank"
              ><i class="fab fa-youtube w-16 h-16"></i
            ></a>
        
            <!-- Linkedin -->
            <a
              class="text-white m-1 p-1 px-2 rounded-1 linkedin"
              style="background-color: #0082ca;"
              href="https://www.linkedin.com/in/arifaisal123"
              role="button"
              target="_blank"
              ><i class="fab fa-linkedin-in w-16 h-16"></i
            ></a>
            <!-- Github -->
            <a
              class="text-white m-1 p-1 px-2 rounded-1 github"
              style="background-color: #333333;"
              href="https://github.com/arifaisal123"
              role="button"
              target="_blank"
              ><i class="fab fa-github w-16 h-16"></i
            ></a>
          </section>
          <!-- Section: Social media -->
          <ul class="footer-list list-unstyled text-black d-flex justify-content-center gap-2 fs-12px">
            <li><a href="/about">About</a></li>
            <li><a href="/credits">Credits</a></li>
            <li><a>Contact</a></li>
            <li><a href="/disclaimer">Disclaimer</a></li>
          </ul>
        </div>
      </div>
      <!-- Container -->
      <!-- Copyright -->
      <div class="text-center text-black mx-3 fs-10px">
        Copyright © 2023, <a href="https://arifaisal123.github.io">Arif Faisal</a>. All Rights Reserved.
      </div>
      <!-- Copyright -->
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>

