{% extends "layout.html" %}

{% block title %}
    Synonym
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-12 text-center">
        <p>Type your word below for synonym</p>
        <form action="/synonym" method="post">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="synonym" name="synonym" placeholder="Enter Your word" type="text">
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
        <p>{{ synonym }}</p>
    </div>
</div>
{% endblock %}